
      <section class="py-2">
        <div class="container text-center p-2">
                                    <a class="d-inline-block mb-4" href="#">
                <img class="img-fluid" src="/bootstrap5-plain-assets/vis/log.png" alt="" width="96px">
              </a>
              <a class="block mb-4" href="https://osec.ijm.org">
                <p class="mt-1">Return to osec.ijm.org</p>
              </a>
          <p class="mt-4"><small>All rights reserved © International Justice Mission 2021</small></p>
        </div>
      </section>