{{ define "main" }}


<div class="row">
    <div class="col-12 col-lg-6 mx-auto">



<h1 class="mt-5 text-center font-weight-bold">{{ .Title }}</h1>
<h2 class="my-4 text-center">  </h2>

{{ .Content }}



<button onclick="topFunction()" id="goTop" title="Go to top">Top</button>

</div>
</div>


<script>
    //Get the button
    var mybutton = document.getElementById("goTop");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>

    {{ end }}
